<html>
    <body>
       <h3>用户信息录入</h3>
       <hr/>
       <form action = "{{ request.path }}" method = "post">
           <label for = "name">用户名：</label>
           <input type = "text" name = "name" placeholder = "用户名" /><br>
           <label for = "email">邮　箱：</label>
           <input type = "text" name = "email" placeholder = "" /><br>
           <label for = "passwd">密　码：</label>
           <input type ="password" name = "passwd" placeholder = "" /><br>
           <label for = "demo">备　注：</label>
           <textarea name = "demo" placeholder = ""></textarea><br>
           <input type = "submit" value = "添加" />
       </form>
    </body>
 </html>